<div class="p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-2xl font-bold mb-6">Edit Blog Post</h1>
  <%= render partial: "partials/form", locals: { blog_post: @blog_post } %>
  <%= button_to "Delete", @blog_post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "mt-6 inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
</div>
