<h1 class="text-3xl font-bold text-gray-900 mb-4"><%= @blog_post.title %></h1>
<p class="text-base text-gray-700 leading-relaxed mb-6"><%= @blog_post.body %></p>

<div>
  <% if user_signed_in? %>
    <%= link_to "EDIT", edit_blog_post_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
</div>
