<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p><%= @feedback.body %></p>
<p>Sent by: <%= @feedback.email %></p>
</body>
</html>
